.main-nav__inner {
  //position: relative;
  width: 100%;
}

.main-nav__header {
  @include clearfix;
  position: relative;
  min-height: 79px;
  padding-top: 22px;
  padding-bottom: 22px;

  @media #{$desktop-width} {
    padding-top: 8px;
    padding-bottom: 9px;
  }
}

.main-nav__logo {
  width: 86px;
  height: 35px;
  margin: 0 auto;

  a {
    @include text-hide;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    img {
      width: 100%;
    }
  }

  @media #{$tablet-width} {
    float: left;
    width: 113px;
    height: 46px;
    margin: 0;
  }

  @media #{$desktop-width} {
    width: 149px;
    height: 72px;
  }
}

.main-nav__btn-toggle {
  position: absolute;
  top: 32px;
  right: 0;
  width: 20px;
  height: 14px;
  background: url(../img/icon-menu-open.svg) no-repeat 50% 50% transparent;
  border: none;
  cursor: pointer;

  &--nojs {
    width: 21px;
    height: 20px;
    background: url(../img/icon-menu-close.svg) no-repeat 50% 50% transparent;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
      opacity: 0.3;
    }

  @media #{$tablet-width} {
    display: none;
  }
}

.main-nav__list {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;

  &--nojs {
    display: block;
  }
}

.main-nav__item {

  a {
    position: relative;
    display: block;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 24%;
    font: {
      size: 17px;
      weight: 700;
    }
    text-decoration: none;
    text-align: left;
    color: $title-color;
    background-color: $bg-prim-color;
    border-bottom: 2px solid $border-color;
    transition: padding-left 0.5s ease;

    &:hover {
      color: rgba($title-color, 0.6);
    }

    &:active {
      color: rgba($title-color, 0.3);
    }

    @media (min-width: 380px) {
      padding-left: 29%;
    }

    @media (min-width: 480px) {
      padding-left: 33%;
    }

    @media (min-width: 600px) {
      padding-left: 37%;
    }
  }

  &--initially-hidden {
    display: none;

    @media #{$tablet-width} {
      display: block;
    }
  }
}

.main-nav__search-icon {

  svg {
    margin-left: -38px;
    margin-right: 20px;
    opacity: 0.2;
  }
}

.main-nav__cart-icon {

  svg {
    margin-left: -40px;
    margin-right: 15px;
    opacity: 0.2;
  }
}

.main-nav__item:hover .main-nav__search-icon,
.main-nav__item:hover .main-nav__cart-icon {

  svg {
    fill: $icon-hvr-color;
    opacity: 1;
  }
}

.main-nav__item:active .main-nav__search-icon,
.main-nav__item:active .main-nav__cart-icon {

  svg {
    fill: $icon-hvr-color;
    opacity: 0.3;
  }
}

.main-nav__promo {
  background: url(../img/hero-mobile@1x.jpg) no-repeat 50% -19px #fbfbfb;

  h1 {
    padding-top: 75px;
    padding-bottom: 120px;
    font-size: $font-size-base * 1.8;
    font-weight: 700;
    line-height: $line-height-base;
    text-align: center;
  }
}

.main-nav__promo-item {
  text-align: left;

  a {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: $font-size-base * 1.27;
    font-weight: 700;
    line-height: $line-height-base * 0.8;
    color: $text-inv-color;
    text-decoration: none;
  }
}

.main-nav__interier {
  background-color: $btn1-bg-color;
}

.main-nav__toys {
  background-color: $btn2-bg-color;
}
