.video-item {
  margin-bottom: 60px;
  padding-top: 25px;
  padding-bottom: 30px;
  border: 1px solid $border-color;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media #{$tablet-width} {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 45px;
  }
}

.video-item__header-wrapper {
  @media #{$tablet-width} {
    order: -1;
  }
}

.video-item__text-wrapper {
  @media #{$tablet-width} {
    order: 0;
  }
}

.video-item__header {
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: $font-size-base + 2px;
  font-weight: $font-weight--bold;
  line-height: 24px;
  color: $title-color;

  @include clearfix();

  img {
    float: left;
    display: block;
    margin-right: 25px;
    padding-top: 10px;

    @media #{$tablet-width} {
      padding-top: 0;
    }
  }

  h4 {
    float: left;

    @media #{$tablet-width} {
      font-size: 20px;
      br {display: none;}
    }
  }
}

.video-item__play {
  position: relative;
  margin-bottom: 25px;

  @media #{$tablet-width} {
    margin-bottom: 36px;
    order: -2;
  }
}

.video-item__bg-img {
  display: block;
  width: 100%;
  min-height: 150px;
}

.video-item__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50.5px, -39px);
  margin: auto;
  cursor: pointer;

  img {
    display: block;
    width: 101px;
    height: 78px;

    &:hover {
      transform: scale(1.2);

    }
    &:active {
      transform: scale(0.8);
      opacity: 0.7;
    }
  }
}

.video-item__text {
  padding-left: 5px;
  padding-right: 5px;
  font-size: $font-size-base - 2px;
  line-height: 24px;

  @media #{$tablet-width} {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  p {
    margin-bottom: 23px;

    @media #{$tablet-width} {
      margin-bottom: 38px;
    }
  }
}
